/* === Custom Fonts === */

/* OnlyGraphic */
@font-face {
  font-family: 'Onlygraphic-Bold-Rounded';
  src: url('./assets/fonts/Onlygraphic-Bold-Rounded.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Onlygraphic-Bold-Slant-Rounded';
  src: url('./assets/fonts/Onlygraphic-Bold-Slant-Rounded.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: 'Onlygraphic-Bold-Slant';
  src: url('./assets/fonts/Onlygraphic-Bold-Slant.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: 'Onlygraphic-Bold';
  src: url('./assets/fonts/Onlygraphic-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'FancySans';
  src: url('./assets/fonts/Onlygraphic-Oblique-Rounded.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Onlygraphic-Rounded';
  src: url('./assets/fonts/Onlygraphic-Rounded.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Onlygraphic-slant';
  src: url('./assets/fonts/Onlygraphic-Slant.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Onlygraphic';
  src: url('./assets/fonts/Onlygraphic.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}




/* Gotham */

@font-face {
  font-family: 'Gotham';
  src: url('./assets/fonts/Gotham.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Bold';
  src: url('./assets/fonts/Gotham.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-italic';
  src: url('./assets/fonts/Gotham.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

/* === GARNETT FONT === */
@font-face {
  font-family: "Garnett";
  src: 
       url("/src/assets/Fonts/garnett-font-family/Garnett-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}




@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-onlygraphic;
}

@layer base {

    p    { 
    @apply font-gotham
  }

  
}

/* Hide scrollbar (cross-browser) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
